// ================================================================================================
// Buttons
// ================================================================================================

.btn {
    display: inline-block;
    padding: 1em 1.3em;
    font-size: 13px;
    color: #fff;
    border: none;
    text-decoration: none;
    border-radius: 8px;
    transition: .2s linear;

    &:hover, &:focus {
        color: #fff;
        text-decoration: none;
    }

    &[disabled] {
        cursor: default;
        @include opacity(.6);
    }
}

.btn-primary {
    background: #5a9bc5;

    &:hover, &:focus {
        background: darken(#5a9bc5, 10%);
    }
}
